{% extends 'blank_layout.html' %}

{% load static %}

{% block content%}
<H1>List movies</H1>

{% for movie in movies %}
    <h1>Title : {{ movie.title | upper}}</h1>
    <!-- <img src="{% static 'images/' %}{{movie.img}}" alt=""> -->
    <p>Summary : {{movie.summary | default:'Data unavailable'}}</p>
    <h4>Year : {{movie.year}}</h4>
    <!-- {% if movie.success %}
    <p>Movie was successfull !!</p>
    {% else %}
    <p>movie was Failiure</p>
    {% endif%} -->
    {% endfor%}
{% endblock content%}